.button {
    width: 100%;

    font-family: $font-family-primary;
    font-weight: normal;

    background: none;
    background-color: #fff;
    border: none;

    &:hover {
        background-color: #f5f5f5;

        cursor: pointer;
    }

    &--type_list {
        padding: 10px 5px;
        
        text-align: left;
    }

    &--active {
        background-color: #f5f5f5;
    }

    &--more {
        padding: 20px;

        font-size: 24px;
        color: #fff;
        text-transform: uppercase;

        background-color: #2277ff;

        &:hover {
            background-color: #4499ff;
        }
    }
}