@keyframes spinner-load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;

    background-image: url("../ico/loader.svg");

    animation-name: spinner-load;
    animation-duration: 0.75s;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}