*, *::before, *::after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: $font-family-secondary;

    background-color: $main-bg-color;
}

img {
    display: block;
}