// Colors
$main-bg-color          :          #ebebeb;

$primary-font-color     :          #000;

// Font size
$primary-font-size      :          16px;

// Font family
$font-family-primary    :          "Roboto", "Arial", sans-serif;
$font-family-secondary  :          "Cookie", "Helvetica", sans-serif;

// Breakpoints
$xs                      :         320px;
$m                       :         375px;
$l                       :         425px;
$xl                      :         768px;