<template>
    <li class="list__item albums__item">
        <button
            type="button"
            class="button button--type_list"
            v-on:click="() => clickByAlbum(id)"
            :class="{[`button--active`]: isActiveAlbum}"
        >
            {{ title }}
        </button>
    </li>
</template>

<script>
    export default {
        name: "AlbumsItem",
        props: {
            title: String,
            clickByAlbum: Function,
            id: Number,
            isActiveAlbum: Boolean
        }   
    }
</script>