<template>
    <section class="albums">
        <h2 class="albums__title">Albums</h2>
        <form className="albums__filter">
            <input
                type="text"
                :value="inputValue"
                @input="inputChangeHandler"
                placeholder="Начните вводить название альбома..."
            />
        </form>
        <ul class="list albums__list">
            <AlbumsItem
                v-for="item in activePhotographerAlbums"
                :key="item.id"
                :title="item.title"
                :id="item.id"
                :clickByAlbum="clickByAlbum"
                :isActiveAlbum="activeAlbumId === item.id"
            />
        </ul>
    </section>
</template>

<script>
    import AlbumsItem from "@/components/AlbumsItem";

    export default {
        name: "AlbumsList",
        props: {
            activePhotographerAlbums: Array,
            clickByAlbum: Function,
            activeAlbumId: Number,
            inputValue: String,
            inputChangeHandler: Function
        },
        components: {
            AlbumsItem,
        }
    }
</script>

<style lang="scss">
    @import "../scss/utils/vars.scss";

    .albums {
        flex-grow: 1;

        @media screen and (min-width: $l) {
            margin-left: 20px;
        }

        &__title {
            @media screen and (min-width: $l) {
                display: none;
            }
        }

        &__list {
            margin: 0;
        }

        &__item {
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
        }
    }
</style>