<template>
    <li class="list__item photographers__item">
        <button
            type="button"
            class="button button--type_list"
            @click="() => clickByPhotographer(id)"
            :class="{[`button--active`]: activeField}"
        >
            {{ name }}
        </button>
    </li>
</template>

<script>
    export default {
        name: "PhotographersItem",
        props: {
            name: String,
            id: Number,
            activeField: Boolean,
            clickByPhotographer: Function
        }
    }
</script>