<template>
    <section class="photographers">
        <ul class="list photographers__list">
            <PhotographersItem
                v-for="item in photographersList"
                :key="item.id"
                :name="item.name"
                :id="item.id"
                :activeField="item.id === activePhotographerId"
                :clickByPhotographer="clickByPhotographer"
            />
        </ul>
        <AlbumsList
            v-if="isOpenAlbums"
            :activePhotographerAlbums="activePhotographerAlbums"
            :clickByAlbum="clickByAlbum"
            :activeAlbumId="activeAlbumId"
            :inputValue="inputValue"
            :inputChangeHandler="inputChangeHandler"
        />
    </section>
</template>

<script>
    import PhotographersItem from "@/components/PhotographersItem";
    import AlbumsList from "@/components/AlbumsList";

    export default {
        name: "PhotographersList",
        props: {
            activePhotographerId: Number,
            photographersList: Array,
            clickByPhotographer: Function,
            clickByAlbum: Function,
            inputChangeHandler: Function,
            isOpenAlbums: Boolean,
            activePhotographerAlbums: Array,
            activeAlbumId: Number,
            inputValue: String
        },
        components: {
            PhotographersItem,
            AlbumsList
        }
    }
</script>

<style lang="scss">
    @import "../scss/utils/vars.scss";

    .photographers {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $l) {
            flex-direction: row;
        }

        &__list {
            width: 100%;
            margin: auto;
            margin-top: 0;

            @media screen and (min-width: $l) {
                max-width: 250px;
            }
        }

        &__item {
            margin-bottom: 5px;
        }
    }
</style>