<template>
    <section class="photos">
        <ul class="list photos__list">
            <PhotosItem
                v-for="item in photosList"
                :key="item.id"
                :thumbnailUrl="item.thumbnailUrl"
            />
        </ul>
        <button
            v-if="isShowButtonMore"
            type="button"
            class="button button--more"
            @click="showMorePhotosHandler"
        >
            Показать ещё</button>
    </section>
</template>

<script>
    import PhotosItem from "@/components/PhotosItem";

    export default {
        name: "PhotosList",
        props: {
            photosList: Array,
            showMorePhotosHandler: Function,
            isShowButtonMore: Boolean,
        },
        components: {
            PhotosItem
        }
    }
</script>

<style lang="scss">
    .photos {
        margin-bottom: 50px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__item {
            margin-bottom: 5px;
        }
    }
</style>