<template>
    <li class="list__item photos__item">
        <img
            :src="thumbnailUrl"
        />
    </li>
</template>

<script>
    export default {
        name: "PhotosItem",
        props: {
            thumbnailUrl: String
        }   
    }
</script>