<template>
  <div id="app">
    <header class="app-header">
      <h1 class="app-header__title">Photo Cloud</h1>
    </header>
    <main class="app-main">
      <PhotographersList
        :photographersList="photographersList"
        :clickByPhotographer="clickByPhotographer"
        :clickByAlbum="clickByAlbum"
        :isOpenAlbums="isOpenAlbums"
        :activePhotographerId="activePhotographerId"
        :activeAlbumId="activeAlbumId"
        :activePhotographerAlbums="activeFilteredAlbums"
        :inputValue="inputValue"
        :inputChangeHandler="inputChangeHandler"
      />
      <PhotosList
        v-if="isShowPhotos"
        :photosList="partOfActivePhotos"
        :showMorePhotosHandler="showMorePhotosHandler"
        :isShowButtonMore="partOfActivePhotos.length !== activeAlbumPhotos.length"
      />
    </main>
  </div>
</template>

<script>
import PhotographersList from "@/components/PhotographersList";
import PhotosList from "@/components/PhotosList";

export default {
  name: 'App',
  data() {
    return {
      isShowButtonMore: true,
      isShowPhotos: false,
      isOpenAlbums: false,
      photographersList: [],
      activePhotographerId: null,
      activePhotographerAlbums: [],
      activeFilteredAlbums: [],
      albumsList: [],
      activeAlbumId: null,
      photosList: [],
      activeAlbumPhotos: [],
      partOfActivePhotos: [],
      inputValue: ''
    }
  },
  components: {
    PhotographersList,
    PhotosList
  },
  mounted() {
    fetch(`https://jsonplaceholder.typicode.com/users`)
    .then(res => res.json())
    .then(data => this.photographersList = data);
  },
  methods: {
    clickByPhotographer(id) {
        this.getAlbumsList(id);
        this.activePhotographerId = id;
        this.isOpenAlbums = true;
        this.isShowPhotos = false;
        this.activeAlbumId = null;
    },
    clickByAlbum(id) {
      this.getPhotos(id);
      this.isShowPhotos = true;
      this.activeAlbumId = id;
    },
    getAlbumsList(id) {
      if (!this.albumsList.some(item => item[0].userId === id)) {
        const overlay = document.querySelector('.overlay');
        overlay.classList.add('overlay--active');

        fetch(`https://jsonplaceholder.typicode.com/albums/?userId=${id}`)
        .then(res => res.json())
        .then(data => {
          this.albumsList = [...this.albumsList, data];
          this.activePhotographerAlbums = data;
          this.activeFilteredAlbums = data;
          overlay.classList.remove('overlay--active');
        });
      } else {
        this.activePhotographerAlbums = this.albumsList.find((item) => item[0].userId === id);
      }
    },
    getPhotos(id) {
      if (!this.photosList.some((item) => item[0].albumId === id)) {
        const overlay = document.querySelector('.overlay');
        overlay.classList.add('overlay--active');

        fetch(`https://jsonplaceholder.typicode.com/photos`)
        .then(res => res.json())
        .then(data => {
          const currentAlbum = data.filter(({ albumId }) => albumId === id)
          this.photosList = [...this.photosList, currentAlbum];
          this.activeAlbumPhotos = currentAlbum;
          this.partOfActivePhotos = currentAlbum.slice(0, 10);
          overlay.classList.remove('overlay--active');
        });
      } else {
        const currentAlbum = this.photosList.find((item) => item[0].albumId === id);
        this.activeAlbumPhotos = currentAlbum;
        this.partOfActivePhotos = currentAlbum.slice(0, 10);
      }
    },
    showMorePhotosHandler() {
      this.partOfActivePhotos = this.activeAlbumPhotos.slice(0, this.partOfActivePhotos.length + 10);
    },
    inputChangeHandler(e) {
      const { value } = e.target;
      this.inputValue = value;
      this.activeFilteredAlbums = this.activePhotographerAlbums.filter(item => item.title.includes(value));
    }
  }
}
</script>

<style scoped lang="scss">
  @import "./scss/utils/vars.scss";

  #app {
    max-width: 768px;
    padding: 0 10px;
    margin: auto;

    @media screen and (min-width: $xl) {
      padding: 0;
    }
  }

  .app-header {
    &__title {
      font-family: $font-family-secondary;
      text-align: center;
    }
  }
</style>